@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
	:root {
		color-scheme: light;
		--card-bg-base: #ffffff;
	}
	:root.dark {
		color-scheme: dark;
		--card-bg-base: #1e293b;
	}
	body {
		@apply transition-colors duration-150;
	}
}
